    <div class="container-fluid navbar bg-body-tertiary justify-content-center">
      <form class="d-flex" role="search">
        <input  #inputTextSearch name="searchField" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-success" (click)="onClickSearch()" type="submit">Search</button>
      </form>
    </div>

  <div class="container-fluid">
    <p *ngIf="searchText != '' "><strong>Search Result: </strong> {{searchText}}</p>
  </div>
