    <div class="container-fluid navbar bg-body-tertiary justify-content-center">
      <form class="d-flex" role="search">
        <input [(ngModel)]="searchText" name="searchField" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button [ngClass]="{'btn':true, 'btn-success':searchText,'btn-secondary':!searchText}" [disabled]="!searchText" type="submit">Search</button>
      </form>
    </div>

  <div class="container-fluid">
    <p *ngIf="searchText != '' "><strong>Search Result: </strong> {{searchText}}</p>
  </div>
